@mixin large {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 760px) {
    @content;
  }
}

body {
  background-image: url("../assets/bgmobile.png");
  background-size: 100%;

  @include large {
    background-image: url("../assets/bgdesktop.jpg");
    background-size: 125%;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  width: 80vw;
  margin-left: 5vw;
  margin-top: 20%;

  @include medium {
    height: 420px;
    margin-top: 50vh;
    width: 383px;
    margin-left: 5vw;
    justify-content: space-around;
  }

  @include large {
    margin-top: 10%;
    width: 30vw;
    height: 60vh;
  }
}

.teaser {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: justify;
  font-size: 20px;
  filter: drop-shadow(0px 0px 3px black);
  .teaser__title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10vh;
    text-align: left;

    @include medium {
      font-size: 40px;
      margin-bottom: 5vh;
    }

    @include large {
      font-size: 50px;
      margin-bottom: 70px;
    }
  }
}

.next__button {
  border-radius: 15px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  padding: 6px;
  width: 80vw;
  margin-top: 25px;
  margin-bottom: 15px;
  border: 2px solid white;
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0);

    color: white;
  }

  @include medium {
    width: 383px;
    margin-top: 0;
  }

  @include large {
    width: 16vw;
    margin-left: 7vw;

    &:hover {
      cursor: pointer;
    }
  }
}
